{% extends 'global/base.html' %}

{% block body_block %}
<style>
    .custom-card {
        border: 1px solid #d1d1d1;
        transition: box-shadow 0.3s;
    }

    .card-column {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        padding-top: 2.25rem;
    }

    .list-group {
        margin-bottom: 1.25rem;
    }

    .custom-card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .hidden {
        display: none;
    }

    .item {
        border: 1px solid #e2e2e2;
        padding: 10px;
        border-radius: 15px;
        transition: box-shadow 0.3s;
    }

    .item:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .recommendation-list {
        padding: 0 15%;
    }

    .more-btn {
        flex-shrink: 0;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
      text-decoration: none;
      color: black;
    }
</style>

<script>
    $(document).ready(function () {
        $('.more-btn').click(function () {
            var container = $(this).closest('.profile-item');
            var moreInfo = container.find('.more-info');
            var icon = $(this).find('i');
            var description = $(this).closest('.profile-item').find('.description');

            if (moreInfo.is(':hidden')) {
                description.css('visibility', 'hidden');
                moreInfo.slideDown('fast', function () {
                    icon.removeClass('fa-arrow-down').addClass('fa-arrow-right');
                    icon.text(' Less');
                    container.addClass('expanded');
                });
            } else {
                description.css('visibility', 'visible');
                moreInfo.slideUp('fast', function () {
                    icon.removeClass('fa-arrow-right').addClass('fa-arrow-down');
                    icon.text(' More');
                    container.removeClass('expanded');
                });
            }
        });

        $('.like-btn , .dislike-btn').click(function() {
            var item = $(this).closest('.profile-item');
            item.fadeOut(500, function() {
                item.remove();
            });
        });
    });
</script>

{% include 'global/navbar.html' %}

<div class="recommendation-list">
    <ul class="list-group mt-4">
        {% for profile in profiles %}
            <li class="list-group-item profile-item mb-1">
                <div class="d-flex flex-sm-row flex-column align-items-center">
                    <div class="media position-relative">
                        <img src="http://via.placeholder.com/512x512" class="rounded-circle mx-sm-0" alt="Profile Image"
                            width="80" height="80">
                    </div>
                    <hr class="d-sm-none w-75">
                    <div class="media-body text-center text-sm-left ml-3">
                        <div class="row">
                            <div class="col-md-3">
                                <h5 class="mt-0"><a href="{{ profile.context.name.uri }}">{{ profile.context.name.value}}</a></h5>
                                    <p><a href="{{ profile.context.accountName.uri }}">{{ profile.context.accountName.value }}</a></p>
                            </div>
                            <div class="description col-md-9 d-none d-lg-block">
                                <div class="d-flex flex-column justify-content-center h-100">
                                    <p class="mx-3"><a href="{{ profile.context.description.uri }}">{{ profile.context.description.value }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ml-md-auto mt-3 mt-md-0 d-flex flex-column">
                        <button class="btn btn-outline-success like-btn mt-2">
                            <i class="fa fa-thumbs-up">Like</i>
                        </button>
                        <button class="btn btn-outline-danger dislike-btn mt-2">
                            <i class="fa fa-thumbs-down">Dislike</i>
                        </button>
                        <button class="btn btn-primary more-btn mt-2">
                            <i class="fa fa-arrow-down"> More</i>
                        </button>
                    </div>
                </div>
                <div class="container mt-4 more-info" style="display: none;">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="card custom-card">
                                <div class="row">
                                    <div class="col-md-12 card-column">
                                        <h5 class="card-title">Short Description</h5>
                                        <p><a href="{{ profile.context.description.uri }}">{{ profile.context.description.value }}</a></p>
                                    </div>
                                </div>
                                <div class="container mt-4">
                                    <div class="d-flex flex-wrap">
                                        {% if "status" in profile.context.keys %}
                                        <div class="item bg-light rounded mr-2 mb-2">
                                            <p class="mb-0"><a href="{{ profile.context.status.uri }}">{{ profile.context.status.value }}</a></p>
                                        </div>
                                        {% endif %}
                                        {% if "gender" in profile.context.keys %}
                                            <div class="item bg-light rounded mr-2 mb-2">
                                                {% if profile.context.gender.value == "F" %}
                                                    <p class="mb-0"><a href="{{ profile.context.gender.uri }}">Female</a></p>
                                                {% elif profile.context.gender.value == "M" %}
                                                    <p class="mb-0"><a href="{{ profile.context.gender.uri }}">Male</a></p>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        {% if "Country" in profile.context.keys %}
                                            <div class="item bg-light rounded mr-2 mb-2">
                                                <p class="mb-0"><a href="{{ profile.context.Country.uri }}">{{ profile.context.Country.value }}</a></p>
                                            </div>
                                        {% endif %}
                                        {% if "address" in profile.context.keys %}
                                            <div class="item bg-light rounded mr-2 mb-2">
                                                <p class="mb-0"><a href="{{ profile.context.address.uri }}">{{ profile.context.address.value }}</a></p>
                                            </div>
                                        {% endif %}
                                        {% if "MarryAction" in profile.context.keys %}
                                            <div class="item bg-light rounded mr-2 mb-2">
                                                <p class="mb-0"><a href="{{ profile.context.MarryAction.uri }}">{{ profile.context.MarryAction.value }}</a></p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    {% if "Hobby" in profile.context.keys %}
                                        <div class="col-md-6 card-column">
                                            <h5 class="card-title">Hobbies</h5>
                                            <ul class="list-group">
                                                {% for hobby in profile.context.Hobby.value %}
                                                    <li class="list-group-item"><a href="{{ profile.context.Hobby.uri }}">{{ hobby }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if "skills" in profile.context.keys %}
                                        <div class="col-md-6 card-column">
                                            <h5 class="card-title">Skills</h5>
                                            <ul class="list-group">
                                                {% for skill in profile.context.skills.value %}
                                                    <li class="list-group-item"><a href="{{ profile.context.skills.uri }}">{{ skill }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    {% if "alumniOf" in profile.context.keys %}
                                        <div class="col-md-6 card-column">
                                            <h5 class="card-title">Alumni</h5>
                                            <ul class="list-group">
                                                {% for alumni in profile.context.alumniOf.value %}
                                                    <li class="list-group-item"><a href="{{ profile.context.alumniOf.uri }}">{{ alumni }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}