{% extends 'global/base.html' %}

{% block body_block %}

{% include 'global/navbar.html' %}

<style>
    .content-container {
        padding: 0 15%;
    }
</style>

<div class="content-container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Social Recommender</h1>
            <p class="lead text-center">Welcome to our project presentation page!</p>
            <p class="text-center">SoRe (Social Recommender) is a Web modular system able to recommend certain connections according to a built-in knowledge graph
                expressed in RDF and automatically built for a specific user, based on her/his social media profile(s) and
                by considering multiple
                similar features/properties: skills (excellent knowledge of certain areas like Web technologies + open
                hardware), geographic location
                (i.e. from Romania and Chile only), technical preferences (e.g., using free software), background info
                (demographics, education,
                occupation history, driving license, other competencies), hobbies (i.e. horror movies + classical music),
                aversions (e.g.,
                communication by phone, sport, politics), acquaintance and so on. The system should be “smart” enough to
                improve recommendations based on various
                methods such as user feedback, reasoning, and/or machine learning. The recommended items will be available
                via a SPARQL endpoint.</p>
            <div class="mt-5">
                <h2 class="text-center mb-3">Meet Our Team</h2>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="card">
                            <img src="http://via.placeholder.com/512x512" class="card-img-top" alt="Team Member 1">
                            <div class="card-body">
                                <h5 class="card-title">Filimon Danut-Dumitru</h5>
                                <p class="card-text">UI/UX Designer & BackEnd Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="card">
                            <img src="http://via.placeholder.com/512x512" class="card-img-top" alt="Team Member 2">
                            <div class="card-body">
                                <h5 class="card-title">Onofrei Tudor-Cristian</h5>
                                <p class="card-text">BackEnd Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-5">
                <h2 class="text-center mb-3">Project Resources</h2>
                <p class="text-center">Explore more about our project and its resources.</p>
                <div class="text-center mt-3">
                    <a href="https://github.com/Danie83/SoRe" class="btn btn-primary btn-lg">View Resources</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}